<!DOCTYPE html>
<html lang="en">
<head>
  <title>RN Inspire Pvt. Ltd. </title>
  <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>

  .pqr div {
           padding:5px;
           font-size:18px;
      }

  .button {
    background-color: #e6e6e6; /* Green */
    border: none;
    color: black;
    padding: 8px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;}

</style>
</head>
<body>

<div style="text-align: center; margin:20px">
 {% if user.is_authenticated %}
     <h4 style="padding: 10px;">User: {{ user.get_username }}</h4>
     <h4 class="button"><a href="{% url 'logout'%}?next={{request.path}}">Logout</a></h4>
     <h4 class="button"><a href="{% url 'index'%}">Home</a></h4>
 {% endif %}
</div>
<br>
<div class="container">

      {% for aa, bb, cc, dd, ee, ff, gg, hh, ii, jj, kk, ll, mm, nn, oo, pp, qq, rr, ss, tt, uu, vv, ww, xx, yy, zz, aaa, bbb, ccc, ddd, eee, fff, ggg, hhh, iii, jjj, kkk, lll, mmm, nnn, ooo, ppp, qqq, rrr, sss, ttt, uuu, vvv, www, yyy, zzz, aaaa, bbbb, cccc, dddd, eeee, ffff, gggg, hhhh, iiii, jjjj, kkkk, llll, mmmm, nnnn, oooo in table %}


      <!--details-->
      <div class="pqr">
<div><b>Email:-</b> {{ kk }}   </div>
<div><b>Alternate Mobile No:-</b> {{ jj }}   </div>
<div><b>Date of Birth:-</b> {{ ll }}   </div>
<div><b>permanent Address :-</b>  {{ mm }}  </div>
<div><b>Local Address:-</b>{{ nn }}    </div>
      </div>
             <br>
      <!--//details-->


    <!--table Education-->
 <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Course</th>
        <th>Institute</th>
        <th>University</th>
        <th>Year</th>
        <th>Grade</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ pp }}</td>
        <td>{{ qq }}</td>
        <td>{{ rr }}</td>
        <td>{{ ss }}</td>
        <td>{{ tt }}</td>
      </tr>
      <tr>
        <td>{{ uu }}</td>
        <td>{{ vv }}</td>
        <td>{{ ww }}</td>
        <td>{{ xx }}</td>
        <td>{{ yy }}</td>
      </tr>
      <tr>
        <td>{{ zz }}</td>
        <td>{{ aaa }}</td>
        <td>{{ bbb }}</td>
        <td>{{ ccc }}</td>
        <td>{{ ddd }}</td>
      </tr>
       <tr>
        <td>{{ eee }}</td>
        <td>{{ fff }}</td>
        <td>{{ ggg }}</td>
        <td>{{ hhh }}</td>
        <td>{{ iii }}</td>
      </tr>
    </tbody>
  </table>
        <br>
    <!--//table Education-->


<!--Table Employment-->
 <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Company</th>
        <th>Position</th>
        <th>Responsibilities</th>
        <th>From</th>
        <th>To</th>
        <th>Salary</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ jjj }}</td>
        <td>{{ kkk }}</td>
        <td>{{ lll }}</td>
        <td>{{ mmm }}</td>
        <td>{{ nnn }}</td>
        <td>{{ ooo }}</td>
      </tr>
      <tr>
        <td>{{ ppp }}</td>
        <td>{{ qqq }}</td>
        <td>{{ rrr }}</td>
        <td>{{ sss }}</td>
        <td>{{ ttt }}</td>
        <td>{{ uuu }}</td>
      </tr>
      <tr>
        <td>{{ vvv }}</td>
        <td>{{ www }}</td>
        <td>{{ xxx }}</td>
        <td>{{ yyy }}</td>
        <td>{{ zzz }}</td>
        <td>{{ aaaa }}</td>
      </tr>
       <tr>
        <td>{{ bbbb }}</td>
        <td>{{ cccc }}</td>
        <td>{{ dddd }}</td>
        <td>{{ eeee }}</td>
        <td>{{ ffff }}</td>
        <td>{{ gggg }}</td>
      </tr>
    </tbody>
  </table>
     <br>
    <!--//Table Employment-->

 <div style="font-size:24px">{{ iiii }}</div>
          <br><br>
  <!--others-->

<!--<div class="pqr">
<h4>Areas of Interest:-</h4>
    <div></div>

<h4>Strengths:-</h4>
    <div></div>

<h4>Achievements/Recognitions:-</h4>
    <div></div>

<h4>Computer Applications:-</h4>
    <div></div>

<h4>Language Known:-</h4>
    <div></div>

<h4>Any other Information:-</h4>
      <div></div>
</div>
   <br>-->
    <!--//others-->


      <!--table Friend-->
      <table class="table table-bordered table-striped" style="margin-bottom:80px">
    <thead>
      <tr>
        <th>Name</th>
        <th>Mobile No.</th>
        <th style="text-align:center">Current job/Area of interest</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ jjjj }}</td>
        <td>{{ kkkk }}</td>
        <td style="text-align:center">{{ llll }}</td>
      </tr>
      <tr>
        <td>{{ mmmm }}</td>
        <td>{{ nnnn }}</td>
        <td style="text-align:center">{{ oooo }}</td>
      </tr>
    </tbody>
  </table>
          <!--//table friend-->


      {% endfor %}

</div>
</body>
</html>




